# Ignore everything
/*

# Repo files
!.gitignore
!README.md

# Config I want to share
!/assets/
!/bat/
!/btop/
!/dunst/
!/gtk-2.0/
!/gtk-3.0/
!/gtk-4.0/
!/hypr/
!/kitty/
!/neofetch/
!/nvim/
!/quickshell/
!/qimgv/
!/waybar/
!/rofi/


